*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
table,
	th ,
	td {
  border: 2px solid red;
  /* border-collapse: collapse; */
 
}

   th ,
   td{
		height:50px;
		width:100px;
		text-align:center;
		vertical-align:middle;
   }
   tr:hover {background-color: coral;}
   tr:nth-child(even) {background-color:red;}
   td:hover{background-color:blue;}
   th,td{ padding:15px;}
   table {border-spacing:40px;}
   
   tr:hover {background-color: aqua;}
   tr:nth-child(odd) {background-color:blue;}
   td:hover{background-color:green;}
   th,td{ padding:15px;}
   table {border-spacing:30px;}